/* override site background */
body {
  background-color: #24292e !important; /* change to your color */
}

#sidebar {
  background-color: #1d2125 !important; /* change to your color */
}

.home .post,
.home article.post,
.post-card,
.post-preview,
.post-list-item {
  background-color: #1d2125 !important; /* posts background color */
}